@page

@model FrejyaBåtHuset_WebAPI_Backend.Models.BåtHusetBokning
@{
    ViewData["Title"] = "BåtHusetBokning";
}

<h1>BåtHusetBokning</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <h1>Welcome @Model.DiscoverBoatHouse</h1>
    <a asp-page="Welcome" asp-page-handler="Logout">Logout</a>

</body>
</html>
