@page
@model IndexModel
@{

    ViewData["Title"] = "Index";

}


    <div >

        <h1 class="display-4" style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Välkommen    till   drömma båthuset  </h1>

        <style>
            .display-4 {
                position: fixed;
                top: 45px;
                position: absolute;
                font-size: 55px;
                /*font-weight: bold;*/
                font-family:Times New Roman;
            }
            body {
                background-image: url("/css/boat8.jpg");
                background-size: cover;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position-x: 1px;
                background-position-y: 20px;
                /*background-image: url("/css/boat8.jpg");
                background-size: cover;
                background-size:100% 90%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position-y:20px;*/
            }
            #cf {
                position: relative;
                height: 281px;
                width: 450px;
                margin: 0 auto;
                animation-delay: 4s
            }

                #cf img {
                    position: absolute;
                    /*left: 0;*/
                    -webkit-transition: opacity 1s ease-in-out;
                    -moz-transition: opacity 1s ease-in-out;
                    -o-transition: opacity 1s ease-in-out;
                    transition: opacity 1s ease-in-out;
                    top: 0px;
                    right: -400px;
                    -webkit-text-fill-color: transparent;
                    -webkit-animation: stripes 2s linear infinite;
                    animation: stripes 2s linear infinite;
                   
                }

            .slideshow-container {
                position: relative;
                margin: auto;
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

                    #cf img.top:hover {
                        opacity: 0;
                    }

            /*.blocktext {
                width: 8em
            }*/
        </style>
        <div id="cf" class="slideshow-container">
        <img  class="bottom" src="/css/princess1.jpg" width="150" height="150" align="left" />
        <img class="top" src="/css/princess2.jpg" width="150" height="150" align="left" />
        </div>
            @*<p class="blocktext"> 
            Vi erbjuder en dagsutflykt i båt med avgång från Stenpiren till Danmark. Båten brukar måndag -lördag klockan 10:00-19:00.Upptäck denna trevliga båtupplevelse som dessutom erbjuder speciella attraktioner och olika aktiviteter som tillval. 
            Du kan välja mellan:
            Barnaktiviteter
            Konsert
            Dansshow
            Trollerishow
            Spa-center
            Fiskpedikyr och manikyr
            Schack
            Om du inte vill boka en aktivitet finns det ett konstgalleri samt en restaurang där vår egen kock lagar fantastisk mat åt dig.
            Man kan köpa vatten, läsk, te/kaffe, öl/vin ombord på båten.
        </p>*@
    </div>

@*<div class="card-columns">

    <div class="card">
        <div class="card-img" style="background-image:url()"></div>
        </div>
    </div>*@

