@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.UserDetails.CreateUserModel
@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>


<h4>User</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="myuser.UserName" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="myuser.UserName" class="form-control" />
                <span asp-validation-for="myuser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="myuser.EmailId" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="myuser.EmailId" class="form-control" />
                <span asp-validation-for="myuser.EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="myuser.Password" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="myuser.Password" class="form-control" />
                <span asp-validation-for="myuser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./CreateUser">Back To List</a>

</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

