@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>


    <style>
        .animated-text {
            background-image: -webkit-linear-gradient(DarkSalmon 40%, LightYellow 40%);
            background-size: 100% 50px;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip:text;
            -webkit-animation: stripes 2s linear infinite;
            animation: stripes 2s linear infinite;
            font-size: 75px;
            background-position: 0 -50px;
            background-position: 0 -50px;
        }
        body {
            background-image: url('IMG_20201005_101620.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 75%;
            background-position: bottom;
            background-clip: border-box;
            background-color: cornflowerblue;
        }
        
    </style>
   
    <body>
        <div class="animated-text">
            BÅTHUSET : ABOUT US
            <img src="boats1 (3).jpg" width="150" height="150" align="left" />
        </div>
    </body>

    <h1 style="font-family:'Informal Roman';font-size:large">
        Drömhav grundades på dec 2015 i Göteborg under namnet (INT)
        (Indira-Grundare, Nayana-Verkställande direktören, Tara- HR-Ledning)
        Barndom vänner vi gälar sonderar massa platser.
        Det är favorit plats för semesteroch spännande för alla människor.
        Vi ska göra möjlighet njut av naturen med låga pris så bestämde oss också för att resa båthuset en dag.
        vi skulle kunna ge mölighet att människor att besöka vår plats under kort tid semester till ett överkomligt pris.
    </h1>
    