@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

   <h1 id="blink" > About Us</h1>


   <style>

       #blink {
           font-size: 30px;
           font-weight: bold;
           font-family: sans-serif;
           color: #000000;
           animation-duration: 4s;
       }
       body {
           /*background-image: url("/css/Cute.png");*/
           background-color: #87CEFA;
           background-image: url("/css/IMG.jpg");
           background-repeat: no-repeat;
           background-size: 400px 400px;
           background-position: center bottom 30px;
           /*background-image: url("/css/IMG.jpg");*/
           /*background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 50% 10%;
            background-position: left center;
            background-position-y: 40px;
            background-clip: border-box;
            background-color: cornflowerblue;
            background-size: cover;*/
           /*<img src="/css/boats9.jpg">*/
           /*background-size: -20% -20%;
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;
           background-position-y: 40px;*/
       }
        .content {
           position: fixed; bottom: 0; width:100%; text-align:end;
        }


   </style>
   
    <body>
        @*<div id="header" >
            BÅTHUSET : ABOUT US
            <img src="IMG.jpg" width="150" height="150" align="left" />
        </div>*@


        <p style="font-family:'Informal Roman';font-size:large" id="content" position:absolute; bottom:0px;>
            Drömhav grundades på dec 2015 i Göteborg under namnet (INT)
            (Indira-Grundare, Nayana-Verkställande direktören, Tara- HR-Ledning)
            Barndom vänner vi gälar sonderar massa platser.
            Det är favorit plats för semesteroch spännande för alla människor.
            Vi ska göra möjlighet njut av naturen med låga pris så bestämde oss också för att resa båthuset en dag.
            vi skulle kunna ge mölighet att människor att besöka vår plats under kort tid semester till ett överkomligt pris.
        </p>
    </body>
    
       
  