@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.AddOtherActivitiesModel
@{
    ViewData["Title"] = "AddOtherActivities";
}

<h1>AddOtherActivities</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="newotheractivities.NameOfactivity" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="newotheractivities.NameOfactivity" class="form-control" />
                <span asp-validation-for="newotheractivities.NameOfactivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newotheractivities.ActivitiesTime" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="newotheractivities.ActivitiesTime" class="form-control" />
                <span asp-validation-for="newotheractivities.ActivitiesTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newotheractivities.Price" class="Control-Label"></label>
                <span class="text-danger">*</span>
                <input asp-for="newotheractivities.Price" class="form-control" />
                <span asp-validation-for="newotheractivities.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./OtherActivitiesList">Back To List</a>

</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

