@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.ContactUsModel
@{
}
<style>


    body {
        background-image: url("/css/image.png");
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 1px;
        background-position-y: 20px;
        /*background-image: url("/css/boat8.jpg");
                background-size: cover;
                background-size:100% 90%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position-y:20px;*/
    }
    /*.blocktext {
                width: 8em
            }*/
</style>
<b><label style="color:blue;"for="fname">Adress:123 INTPark,Göteborg,Pincode:42536</label></b>
    <br>

    <b>
        <label style="color:blue;" for="fname">Email: INT@hotmail.com</label>
    </b>
        <br>
        <b>
            <label style="color:blue;" for="fname">phone number: 076554433</label>
        </b>
            <br>
