@using  Microsoft.AspNetCore.Http;
@{
    var Role = Context.Session.GetString("Role");
    bool IsAdmin=false;
    bool IsUserLoggedIn = false;

    if (Role != null)
        IsAdmin = Role.ToLower() == "admin" ? true : false;

    if (Context.Session != null && Context.Session.Keys.Count() > 0)
        IsUserLoggedIn = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drömma BåtHuset </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DrömmaBåtHuset</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/Index">Hemsida</a>
                        </li>


                        @if (IsUserLoggedIn)
                        {
                            @if (IsAdmin)
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/UserDetails/UserDetailsList">Användare</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Andra/AndraaktiviteterList">AndraaktiviteterList</a>
                                </li>

                            }
                            else
                            {


                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/BåtHusetBokning">BåtHusetBokning</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/Andraaktiviteter">Andraaktiviteter detaljer</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/AboutUs"> Om oss</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/ContactUs">Kontakt oss</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/Feedback"> Feedback</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/BåthusetResa/Show"> Show och Restaurang Galleri</a>
                                </li>
                            }




                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/logout">Logout</a>
                            </li>

                        }
                        else
                        {
                            Console.WriteLine("User is NOT logged in");
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Sign In</a>
                            </li>
                        }
                    </ul>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
